/* style.css */
* {
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
    background-image: url(../Assets/background.png) !important;background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.header {
    position: relative;
    height: 120px;
    background-color: black;
    top: 0%;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

nav {
    position: absolute;
    width: max-content;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-button {
    background-color: grey;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 85px;
    font-size: small;
    height: 40px;
    color: white;
    border: 0px;
    font-size: 15px;
    text-decoration: none;
}
#title {
    position: relative;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: titlefont2;
}
#Logo{
    height: 60px;
    width: auto;
    position: absolute;
    top: 5px;
    left: 5px;
}
#python-code{
    position: relative;
    border: 1px white solid;
    height: 200px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}
.text-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
.text-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
}

@font-face {
    font-family: Titlefont2;
    src: url(../Assets/TypeLightSans-KV84p.otf);
}
@font-face {
    font-family: basictextfont;
    src: url(../Assets/SmartDuck-pgp8a.ttf);
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox.active {
    display: flex;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
}
.carousel-container {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    height: 70%;
    width: 100%;
}

.slide {
    margin-top: 50px;
    position: relative;
    max-width: 50%;
    max-height: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.slide-container {
    height: max-content;
}

.prev {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border-radius: 5px;
    background-color: #c4c1c1;
    border: 0px;
}

.next {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border-radius: 5px;
    background-color: #c4c1c1;
    border: 0px;
}

.prev:hover {
    opacity: 80%;
}

.next:hover {
    opacity: 80%;
}
#github-link {
    background-color: grey;
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#titleh1 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    font-family: titlefont2;
    text-align: center;

}

h2{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    height: 60px;
    margin-top: 20px;
}
#footer1{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100px;
    margin-top: 200px;
}